* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

header#main-header {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background: #008056;
  flex-direction: row;
}

#app {
  background: #00ae73;
  display: flex;
  flex-wrap: wrap;
}

a.logo {
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}

a.logo img {
  height: 40px;
}

#tools {
  flex-basis: 35%;
  border: 2px solid #fff;
  display: flex;
}

#canvas-container {
  flex-basis: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  padding: 20px;
}

#timeline {
  flex-basis: 100%;
}

#tool-picker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #fff;
}

#tool-properties {
  display: flex;
  flex-grow: 1;
  border: 2px solid #fff;
}

div.tool-props {
  display: none;
}

div.tool-props.active {
  display: flex;
  width: 100%;
  background-color: #008056;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

div.tool-props p {
  font-size: 16px;
  margin: 5px 0;
  color: #fff;
}

div.shape-container {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #00ae73;
  border-radius: 10px;
  padding: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
}

div.shape-container img.shape {
  width: 50px;
  height: 50px;
  flex: 1 0 15%;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

div.shape-container img.shape:active {
  transform: scale(0.95);
}
