* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

header#main-header {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background: #008056;
  flex-direction: row;
}

#app {
  background: #00ae73;
  display: flex;
  flex-wrap: wrap;
}

a.logo {
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}

a.logo img {
  height: 40px;
}

#tools {
  flex-basis: 35%;
  border: 2px solid #fff;
  display: flex;
}

#canvas-container {
  flex-basis: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  padding: 20px;
}

#timeline {
  flex-basis: 100%;
}

#tool-picker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #fff;
}

#tool-properties {
  display: flex;
  flex-grow: 1;
  border: 2px solid #fff;
}
